.product_count .quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.product_count .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.product_count .minus-btn img {
  margin-bottom: 3px;
}

.product_count .plus-btn img {
  margin-top: 2px;
}

.product_count button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.product_count  button:focus,
input:focus {
  outline:0;
}


.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&quot;delete-icn.svg&quot;) no-repeat center;
}